
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Administrator/Views/Shared/_Layout.cshtml";
    @addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
}

<link rel="stylesheet" href="~/css/AdminSettings.css"/>

<span id="span" style="color: white"></span>

<div class="not-layout admin-setting">
    <div class="notification is-primary setting">
        <div class="icon-box">
            <i class="fas fa-key setting-icon"></i>
        </div>
        <hr />
        <h3 class="title is-3"> Lozinka </h3>
        <h5 class="text is-5"> Promijenite lozinku </h5>

    </div>

    <div class="notification is-link setting" id="username-load-click">
        <div class="icon-box">
            <i class="fas fa-signature setting-icon"></i>
        </div>
        <hr />
        <h3 class="title is-3"> Username</h3>
        <h5 class="text is-5"> Promijenite korisničko ime </h5>

    </div>

    <div class="notification is-info setting">
        <div class="icon-box">
            <i class="fas fa-eye setting-icon"></i>
        </div>
        <hr />
        <h3 class="title is-3"> Profil </h3>
        <h5 class="text is-5"> Pregledajte vaš profil </h5>

    </div>

    <div class="notification is-success setting">
        <div class="icon-box">
            <i class="fas fa-envelope-open-text setting-icon"></i>
        </div>
        <hr />
        <h3 class="title is-3"> Email </h3>
        <h5 class="text is-5"> Kontaktirajte sve korisnike putem E-maila </h5>

    </div>
    
    <div id="username-load"></div>

</div>

<script>
    $("#username-load-click").one("click",
        function () {
            $.ajax({
                type: "GET",
                async: true,
                url: '/Administrator/Settings/PromijeniUsername',
                contentType: "application/json; charset=utf-8",
                success: function (response) {
                    $("#username-load-click").html(response);
                }
            });
        });
</script>