
@{
    ViewData["Title"] = "Redirector";
    Layout = "~/Areas/Administrator/Views/Shared/_Layout.cshtml";
}

<h2 style="text-align:center;">Proizvod uspješno dodan!</h2>

<div style="text-align:center">
    <p><a href="~/home/AddProizvod">Dodaj još proizvoda</a> ili <a href="~/home">Vrati se na početnu stranicu</a></p>
</div>