@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/css/AccountStyles.css" asp-append-version="true" />
<div class="spacing"></div>

<p class="text-danger"> Vaši podaci nisu ispravni. </p>
