@model OnlineShop.ViewModels.ForgotPasswordVM
@{
    ViewData["Title"] = "ForgotPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4 class="text text-center title is-4">Resetuj lozinku</h4>

<form asp-action="ResetujLozinku">
    <div class="field is-horizontal">
        <div class="field-label is-normal">
            <label asp-for="Email" class="label">E-mail</label>
        </div>
        <div class="field-body">
            <div class="field">
                <div class="control">
                    <input id="mail-reset" onkeyup="checkEmailReset()" class="input" asp-for="Email" type="email" placeholder="username@gmail.com">
                </div>
            </div>
            <br />
        </div>
    </div>
    <div class="field is-horizontal">
        <div class="field-label is-normal">
            <label class="label"></label>
        </div>
        <div class="field-body">
            <div class="field">
                <p id="spnMsgMail-reset"></p>
            </div>
        </div>
    </div>
    <div class="field is-horizontal">
        <div class="field-label">

        </div>
        <div class="field-body">
            <div class="field">
                <div class="control">
                    <input type="submit" value="Pošalji kod" class="button is-primary" id="reset" />
                </div>
                <p class="help"> Nakon potvrde dobit ćete link na vaš e-mail koji je potrebno da potvrdite da biste unijeli novu lozinku. </p>
            </div>
        </div>
    </div>
</form>

<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>

<script type="text/javascript">

    function checkEmailReset() {
            var x = $("#mail-reset").val().toString();
            $.ajax({
                type: "GET",
                async: true,
                url: '/Account/CheckEmail',
                data: { "Email": x },
                contentType: "application/json; charset=utf-8",
                success: function(response) {
                    if (response != 0) {
                        $("#spnMsgMail-reset").html('E-mail je registrovan');
                        $("#spnMsgMail-reset").removeClass("text text-danger").addClass("text text-success");
                        $("#reset").prop('disabled', false);
                    } else if (response == 2) {
                        $("#spnMsgMail-reset").html('');
                        $("#reset").prop('disabled', true);
                    } else {
                        $("#spnMsgMail-reset").html('E-mail adresa ne postoji u bazi');
                        $("#spnMsgMail-reset").removeClass("text text-success").addClass("text text-danger");
                        $("#reset").prop('disabled', true);
                    }
                }
            });
    }

</script>