@model OnlineShop.ViewModels.ResetPasswordVM
@{
    ViewData["Title"] = "ResetPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4 class="text text-center title is-4"> Promijenite vašu lozinku </h4>

<form asp-action="PromijeniLozinku" id="pw-change-form">

    <input asp-for="Token" type="hidden" />
    <input asp-for="Email" type="hidden" />

    <div class="field is-horizontal">
        <div class="field-label is-normal">
            <label asp-for="Password" class="label"> Nova lozinka </label>
        </div>
        <div class="field-body">
            <div class="field">
                <div class="control">
                    <input id="Password" class="input" asp-for="Password" type="password">
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
            </div>
            <br />
        </div>
    </div>

    <div class="field is-horizontal">
        <div class="field-label is-normal">
            <label asp-for="ConfirmPassword" class="label"> Potvrdite novu lozinku </label>
        </div>
        <div class="field-body">
            <div class="field">
                <div class="control">
                    <input id="password-reset-confirm" class="input" asp-for="ConfirmPassword" type="password">
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
            </div>
            <br />
        </div>
    </div>

    <div class="field is-horizontal">
        <div class="field-label">

        </div>
        <div class="field-body">
            <div class="field">
                <div class="control">
                    <input type="submit" value="Promijeni lozinku" class="button is-primary" id="change" />
                </div>
            </div>
        </div>
    </div>
</form>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation/dist/additional-methods.js"></script>
<script src="~/lib/jquery-validation/dist/additional-methods.min.js"></script>

<script>
    $(function () {
        $("#pw-change-form").validate({
            rules: {
                Password: {
                    minlength: 8,
                    passwordRegex: true
                },
                ConfirmPassword: {
                    minlength: 8,
                    passwordRegex: true,
                    equalTo: "#Password"
                }
            },
            messages: {
                Password: {
                    minlength: "Lozinka mora sadržavati najmanje 8 karaktera.",
                    passwordRegex: "Lozinka mora sadržavati mala i velika slova, brojeve i bar jedan specijalni znak."
                },
                ConfirmPassword: {
                    minlength: "Lozinka mora sadržavati najmanje 8 karaktera.",
                    passwordRegex: "Lozinka mora sadržavati mala i velika slova, brojeve i bar jedan specijalni znak.",
                    equalTo: "Lozinke moraju biti iste."
                }
            },
            submitHandler: function (form) {
                form.submit();
            },
            highlight: function (element, errorClass, validClass) {
                return false;
            },
            unhighlight: function (element, errorClass, validClass) {
                return false;
            }
        });

        jQuery.validator.addMethod("passwordRegex", function (value, element) {
            return this.optional(element) || /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[#$^+=!*()%&{}/]).{8,}$/g.test(value);
        }, "Lozinka mora sadržavati mala i velika slova, brojeve i bar jedan specijalni znak.");

    });
</script>