
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Administrator/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/css/NavbarLayout.css" asp-append-version="true" />


<div class="not-layout">
</div>