
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Administrator/Views/Shared/_Layout.cshtml";
}

<br />
<br />
<br />
<br />
<br />
<h2>Administratorska početna stranica.</h2>
<h4 style="margin-left: 20%;" class="text-center text-info">  @TempData["login"] </h4>