.index-card{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    border: 1px solid lightgray;
    padding: 15px;
    border-radius: 20px;
    height: 400px;
    padding-top: 40px;
}
.index-card>img{
    align-self:center;
}

.text-h4 {
    font-family: 'Titillium Web', sans-serif;
    font-size: 20px;
}

.index-card>div{
    margin-top: 25px;
}

.index-card>.divex{
    margin: auto;
}

.text {
    width: 70%;
    text-align: center;
    margin: auto;
    padding-top: 5px;
}