.moj-navbar {
    z-index: 100;
    position: relative;
    top: 27px;
    height: 50px;
    width: 70%;
    background-color: #383838;
    margin: auto;
    -webkit-box-shadow: 0px 2px 25px 0px rgba(56,56,56,0.7);
    -moz-box-shadow: 0px 2px 25px 0px rgba(56,56,56,0.7);
    box-shadow: 0px 2px 25px 0px rgba(56,56,56,0.7);
}

.moj-navbar>ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-around;
    height: 100%;
    align-items: center;
}

.moj-navbar > ul> li > a{
    color: white;
    text-decoration: none;
    height: 100%;
}

.admin-navbar {
    top: 0px;
    margin-left: 25%;
    background-image: linear-gradient(to bottom, #ffffff, #f9f9f9, #f4f4f4, #eeeeee, #e9e9e9);
    z-index: 100;
    position: fixed;
}

.admin-navbar>ul>li>a{
    color: black;
}

#danger{
    color: white;
}