.percent {
    margin-left: 300px;
}

.admin-sidebar {
    position: fixed;
    width: 300px;
    border-right: 2px solid lightgray;
    top:0;
    left:0;
    bottom:0;
    overflow-y: scroll !important;
    transition: all .4s;
    z-index:200000;
}

.admin-sidebar::-webkit-scrollbar{
    width: 5px;
}

.admin-sidebar::-webkit-scrollbar-track {
    background: #eee;
}

.admin-sidebar > .menu {
    margin-left: 25px;
}

.toggler {
    position: fixed;
    top: 0;
    bottom: 0;
    background-color: lightgreen;
    height: 100%;
    width: 10px;
    transition: all .2s;
    display: flex;
    align-items: center;
    z-index: 200001;
}

.toggler:hover{
    width: 12px;
    cursor: pointer;
}

.left-arrow {
    vertical-align: middle;
}

.sidebar-visible{
    width: 300px;
}

.sidebar-hidden{
    width: 0px;
}

.not-layout {
    position: relative;
    left: 250px;
    top: 150px;
    width: 80%;
}

.not-layout-users {
    position: relative;
    left: 170px;
    top: 150px;
    width: 95%;
}

.flex-content{
    width: 120%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.flex-content>input {
    width: 90%;
}

.flex-content>button {
    height: 80%;
}

#navbarBasicExample {
    text-decoration: none;
}

#navbarBasicExample * :hover {
    text-decoration: none;
}

.navbar-item>span{
    transition: all .2s;
}

.navbar-item:hover > span {
    transform: translateX(-4px) scale(1.05);
}

.navbar-item>span>i{
    color: darkcyan;
}

#admin-title {
    padding-top: 35px;
    color: darkcyan;
    font-size: 45px;
}

.kontent {
    display: flex;
    flex-direction: row;
}

.black {
    background-color: #557A95;
    color: white;
}

.black > .title {
        color: white !important;
    }

.black > .subtitle {
        color: white !important;
        opacity: 0.7;
    }

.trecired:hover {
    transform: scale(1.03);
}

.box:hover {
    text-decoration: none;
}